@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
.cards {
  background: white;
}

.scroll_horizontal {
  height: 430px;
  overflow: auto;
  border: 1px solid #666;

  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#heig_80 {
  height: 80vh;
}

.bg-green {
  background-color: #00d70b;
}

header {
  position: relative;
  background-color: white;
  height: 40vh;
  width: 100%;
  overflow: hidden;
}

header > .bg_image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
}

header > .banner {
  position: relative;
  z-index: 1;
}